body{
    background-color: rgb(65, 196, 196)
}

.seccion1 {
    box-shadow: black;
    border-radius: 5px;
    display: inline-flex;
    background-color: rgb(102, 211, 211);
    flex-direction: column;
    padding: 50vh;
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    margin: 30vh; /* Elimina márgenes predeterminados */
    font-family: Arial, sans-serif; /* Ajusta la tipografía según necesites */
}

#texto{
    margin-bottom: 20vh;
}
#resultado{
    margin-bottom: 10vh;
    font-size: x-large;
}

.boton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px; /* Bordess redondeados */
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color de texto */
    margin: 5px;
}
